#BAL_box_comFei {
  width: 600px;
  height: 400px;
  /* background-color: aliceblue; */
  position: fixed;
  z-index: 2;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
  flex-direction: column;

    /* margin:auto; */
    /* width: 50%; */
    border-radius: 50px;
    background: linear-gradient(145deg, #9d7bfd, #f0cbff);
    box-shadow:  20px 20px 60px #6200ff,
                 -20px -20px 60px #8400ff;
    filter: drop-shadow(20px 20px 60px #6200ff);
}
#BAL_p_comFei {
  font-size: x-large;
  color: rgba(0, 0, 0, 0.637);
  margin: 0 30px;
}
#BAL_token_comFei {
  font-size: medium;
  width: 600px;
  color: rgba(0, 0, 0, 0.349);
  margin: 0 30px;
  margin-top: 20px;
}
#borao {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* From https://css.glass */
background: rgba(28, 5, 54, 0.68);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.9px);
-webkit-backdrop-filter: blur(7.9px);
border: 1px solid rgba(28, 5, 54, 0.3);
}
#BAL_btt_comFei {
  background-color: #9178b894;
  margin-top: 45px;
  font-size: large;
  border: 0;
  border-radius: 5px;
}