#CardHeader {
  background-color: rgba(218, 214, 214, 0.808);
  /* width: 500px; */

}

#CarouselItem img {
  background-color: rgba(218, 214, 214, 0.808);
  padding-bottom: 10rem;
  margin-left: 20rem;
}

#thumb {
  width: 500px;
  height: 600px;
  margin: auto;
}

#D_imgs_box {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  width: 700px;
  height: 600px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background: #ffffff;
  /* box-shadow:  20px 20px 60px #8c76b1,
             -20px -20px 60px #856caf; */
}
#H_mini_thumb {
  width: 100px;
  height: 100px;
}
#D_map_img {
  margin-left: 19px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100px;
}
#D_box_item {
  display: flex;
  flex-wrap: nowrap;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  box-shadow:  20px 20px 60px #8c76b1,
  -20px -20px 60px #856caf;
}
#D_items {
  position: relative;
  width: 300px;
  height: 600px;
  color: white;
  background: #2e2b2b;

}
.D_list_attri {
  max-height: 280px;
  overflow: auto;
  /* border-radius: 15px; */
}
#D_tittle {
  font-size: 20px;
  margin: 5px;
  height: 88px;
}
#D_price {
  font-size: x-large;
  margin-top: 25px;
  margin-left: 5px ;
}
#D_button {
  /* margin: 0 auto; */
  margin-left: 0;
  
  margin-bottom: 20px;
}
#D_main {
  margin-top: 100px;
  position: relative;
  /* background-color: yellowgreen; */
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}
#D_accor {
  --bs-accordion-active-bg: rgb(13, 13, 38) ;
  --bs-accordion-active-color: #856caf;
  --bs-accordion-border-radius: 0 ;
  --bs-accordion-border-color: #2e2b2b;
}
